<!DOCTYPE html>

<html lang="en">

<head>
    <base href="/">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>RyuChess</title>
    <!-- Icons-->
    <link href="{{ static_url('vendors/coreui/dist/vendors/@coreui/icons/css/coreui-icons.min.css') }}" rel="stylesheet" />
    <link href="{{ static_url('vendors/coreui/dist/vendors/flag-icon-css/css/flag-icon.min.css') }}" rel="stylesheet" />
    <link href="{{ static_url('vendors/coreui/dist/vendors/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" />
    <link href="{{ static_url('vendors/coreui/dist/vendors/simple-line-icons/css/simple-line-icons.css') }}" rel="stylesheet" />
    <!-- Main styles for this application-->
    <link href="{{ static_url('vendors/coreui/dist/css/style.css') }}" rel="stylesheet" />
    <link href="{{ static_url('vendors/coreui/dist/vendors/pace-progress/css/pace.min.css') }}" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-theme/0.1.0-beta.10/select2-bootstrap.min.css">
    <link rel="stylesheet" href="{{ static_url('css/signup.css') }}">
</head>

<body>
    <div class="row justify-content-center">
        <div class="col-xl-4 col-md-6 col-sm-12 vr-center">
            <div class="card">
                <div class="card-body">
                    <form>
                        <div class="row justify-content-center">
                            <div class="col-12 text-center" style="padding-bottom: 1.5em;">
                                <div class="brand-label">
                                    <a href="/">Ryuchess</a>
                                </div>
                                <div class="signup-text-div"><span>Start Playing</span></div>
                            </div>
                            <div class="col-md-12 col-sm-12">
                                <div class="callout callout-info">
                                    <div class="form-group">
                                        <label>Username</label>
                                        <input class="form-control" name="username" type="text" placeholder="shinigami" required />
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12 col-sm-12">
                                <div class="callout callout-info">
                                    <div class="form-group">
                                        <label>First Name</label>
                                        <input class="form-control" name="first_name" type="text" placeholder="Light" required/>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12 col-sm-12">
                                <div class="callout callout-info">
                                    <div class="form-group">
                                        <label>Second Name</label>
                                        <input class="form-control" name="second_name" type="text" placeholder="Yagami" required/>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12 col-sm-12">
                                <div class="callout callout-info">
                                    <div class="form-group">
                                        <label>Email</label>
                                        <input class="form-control" name="email" type="email" placeholder="ryuk@shinigami.world" required/>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12 col-sm-12">
                                <div class="callout callout-info">
                                    <div class="form-group">
                                        <label>Password</label>
                                        <input class="form-control" name="password" type="password" placeholder="*********" required/>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12 col-sm-12">
                                <div class="callout callout-info">
                                    <div class="form-group">
                                        <label>Confirm Password</label>
                                        <input class="form-control" name="conf_pass" type="password" placeholder="*********" required/>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12 col-sm-12">
                                <div class="callout callout-info">
                                    <div class="form-group">
                                        <label>Country</label>
                                        <select class="form-control" name="country" type="text" data-placeholder="Shinigami Realm" required>
                                            <option>India</option>
                                            <option>China</option>
                                            <option>Japan</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <span class="small text-muted">
                                Aleardy have an account. Please <a href="/login"><strong>Log in</strong></a>.
                            </span>
                            <div class="col-md-12 col-sm-12 text-center signup-btn-div">
                                <button class="btn btn-primary btn-md signup-btn">
                                    <i class="fa fa-dot-circle-o"></i> SIGN UP
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <script src="{{ static_url('vendors/coreui/dist/vendors/jquery/js/jquery.min.js') }}"></script>
    <script src="{{ static_url('vendors/coreui/dist/vendors/popper.js/js/popper.min.js') }}"></script>
    <script src="{{ static_url('vendors/coreui/dist/vendors/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ static_url('vendors/coreui/dist/vendors/pace-progress/js/pace.min.js') }}"></script>
    <script
        src="{{ static_url('vendors/coreui/dist/vendors/perfect-scrollbar/js/perfect-scrollbar.min.js') }}"></script>
    <script src="{{ static_url('vendors/coreui/dist/vendors/@coreui/coreui/js/coreui.min.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <script src="{{ static_url('js/signup.js') }}"></script>
</body>
</html>