.content-container {
    display: grid;
    height: 100%;
    grid-template-rows: 100%;
    grid-template-columns: 30% 40% 30%;
    grid-gap: 1em;
}

.content-item-1 {
}


.content-item-2 {
    align-self: center;
    /* padding-top: 2.3em; */
}

.content-item-3 {

}